body{
    font-family: comic Arial, Helvetica, sans-serif;
}
.site-heading-lower{
    font-family: comic Arial, Helvetica, sans-serif;
}
.mb-3{
    font-family: comic Arial, Helvetica, sans-serif;
}
a{
    font-family: comic Arial, Helvetica, sans-serif;
}
#mainNav{
    background-color: rgba(0, 0, 139, 0.332);
}